image:
  - Visual Studio 2015
before_build:
  - cmd: premake.bat
  
platform:
  - Win32
#  - x64

configuration: 
  - Release_AES256
#  - Debug_AES256
#  - Debug_AES128
#  - Release_AES128
  
after_build:
  - cmd: 7z a -tzip SQLite3-Encryption-v%APPVEYOR_BUILD_VERSION%.zip bin/ -xr@x_fn.txt
  - cmd: rename SQLite3-Encryption-v%APPVEYOR_BUILD_VERSION%.zip SQLite3-Encryption.zip
  - ps: Push-AppveyorArtifact SQLite3-Encryption.zip

deploy:
   release: SQLite3-Encryption-v%APPVEYOR_BUILD_VERSION%
   description: "update sqlite3 to v3.22.0"
   provider: GitHub
   auth_token:
    secure: YiRkHuWnabCRwdYGhwkPZRSUJmVb/UeKn3YEQ+0mLTfIsGKrVUfDKdObe/MsYf1A
   draft: false
   prerelease: false
   on:
      branch: master
   appveyor_repo_tag: true
