#define APSTUDIO_READONLY_SYMBOLS
  #include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUTRAL)
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "sqlite3.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "SQLite"
            VALUE "FileDescription", "SQLite3 database engine"
            VALUE "FileVersion", SQLITE_VERSION
            VALUE "InternalName", "sqlite3"
            VALUE "LegalCopyright", "Public Domain (C0)"
            VALUE "OriginalFilename", "sqlite3"
            VALUE "ProductName", "SQLite3"
            VALUE "ProductVersion", SQLITE_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////
